<footer class="row footer">
  <div class="col offset-1 col-10 col-md-5">
    <h5>Contect us</h5>
    <p><i class="fa-regular fa-envelope"></i>&nbsp; ramdevfurniture9090@gmail.com</p>
    <p><i class="fa-solid fa-phone"></i>&nbsp; +91 94847 68192 &nbsp;|&nbsp; +91 97260 57910</p>
    <p><i class="fa-brands fa-whatsapp"></i>&nbsp; <a href="https://wa.me/9484768192">ravatabhai</a> &nbsp;|&nbsp; <a href="https://wa.me/9726057910">ragnathbhai</a></p>
  </div>
  <div class="col offset-1 col-10 col-md-5 mt-3">
    <h5>Address</h5>
    <p><i class="fa-solid fa-store"></i> &nbsp;ramdev furniture, showroom</p>
    <p><i class="fa-solid fa-location-dot"></i>&nbsp; anjana complex, rah chowk Tharad highway, Rah, Gujarat, India</p>
  </div>
  <div class="col offset-1 col-10 col-md-5 mt-3">
    <h5>Location</h5>
    <p><i class="fa-solid fa-map-location"></i>&nbsp; <a href="https://maps.app.goo.gl/8rpKZZM4Xa1VjrBz5">google map</a></p>
  </div>
  <div class="col offset-1 col-10 col-md-5 mt-3">
    <h5>Social media</h5>
    <p><i class="fa-brands fa-whatsapp"></i> &nbsp;<a href="https://wa.me/9484768192">whatsapp</a></p>
    <!-- <p><i class="fa-brands fa-facebook"></i> &nbsp;<a href="#">facebook</a></p> -->
    <p><i class="fa-brands fa-instagram"></i> &nbsp;<a href="https://www.instagram.com/rrpatel5535/">instagram</a></p>
    <p><i class="fa-brands fa-google"></i> &nbsp;<a href="https://maps.app.goo.gl/8rpKZZM4Xa1VjrBz5">google</a></p>
    <p><i class="fa-brands fa-youtube"></i> &nbsp;<a href="https://youtu.be/srXOiTcXRX0?si=ZPx355ixow-XDxat">youtube</a></p>
  </div>
  <div class="col offset-1 col-10 col-md-5 mt-3">
    <h5>About us</h5>
    <p><i class="fa-solid fa-store"></i>&nbsp; ramdev furniture, showroom</p>
    <p><i class="fa-regular fa-handshake"></i>&nbsp; unbreakable trust of customers</p>
    <p><i class="fa-regular fa-face-smile"></i>&nbsp; customer's happiness is our happiness</p>
    <p><i class="fa-solid fa-couch"></i>&nbsp; durable and reasonably priced items</p>
    <p><i class="fa-regular fa-building"></i>&nbsp; must visit us!</p>
    <p><i class="fa-solid fa-business-time"></i>&nbsp; since 2021</p>
  </div>
  <div class="mt-5"></div>
</footer>