<style>
  .center{
    text-align: center;
  }
  
  #loader{
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.8);
  }
  
  .con-loader{
    margin-top: 40vh;
    text-align: center;
    color: #0077b6;
    display: inline-block;
  }
  
</style>

<div id="loader" style="display: none;">
  <div class="con-loader">
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>please wait...</p>
  </div> 
</div>



