<nav class="navbar sticky-top bg-body-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/item"> Ramdev Furniture</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ramdev Furniture</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-col d-flex align-items-start flex-column pe-3">
           <% if(!currAdmin) {%>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-store"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/item"><i class="fa-solid fa-couch"></i> Furniture</a>
            </li> 
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/post"><i class="fa-regular fa-image"></i> Our posts</a>
              </li>
            <% if(currUser) {%>
              <li class="nav-item mt-auto">
                <a class="nav-link bottom-nav" aria-current="page" href="/user/profile"><i class="fa-solid fa-user"></i> Profile</a>
              </li>
            <% }%>
            <% if(!currUser) {%>
              <li class="nav-item mt-auto">
                <a class="nav-link" aria-current="page" href="/user/signup"><i class="fa-solid fa-user-plus"></i> Signup</a>
              </li>
              <li class="nav-item bottom-nav">
                <a class="nav-link" aria-current="page" href="/user/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
              </li>
            <% }%>
            <% if(currUser) {%>
              <li class="nav-item bottom-nav">
                <a class="nav-link" aria-current="page" href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </li>
            <% }%>
            <% }else {%>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-store"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/item"><i class="fa-solid fa-couch"></i> Furniture</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin"><i class="fa-solid fa-wand-magic-sparkles"></i> Manage items</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/item/new"><i class="fa-solid fa-square-plus"></i> Add item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/post"><i class="fa-solid fa-camera-retro"></i> Our posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/post/new"><i class="fa-solid fa-square-plus"></i> Add post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/category"><i class="fa-solid fa-award"></i> Categorys</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/category/new"><i class="fa-solid fa-circle-plus"></i> Add category</a>
              </li>
              <li class="nav-item mt-auto">
                <a class="nav-link" aria-current="page" href="/admin/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </li>
            
          <% }%>
        </ul>
      </div>
    </div>
  </div>
</nav>