<% layout("/templates/boilerplate2.ejs") %>

<div class="row">
  <div class="alert alert-danger d-flex align-items-center col col-10 offset-1" role="alert">
    <div>
      <b><%= message %></b>
    </div>
  </div>
</div>

