.hidden-zoom{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden-zoom img{
  width: 80%;
  max-height: 70%;
}