<% layout("/templates/boilerplate.ejs") %>

<div class="row justify-content-evenly gap-1">
  <h4 class="top-head mb-3">All categorys</h4>
  <% for(let category of categorys){ %>
  <div class="card col-5 col-md-3 mb-3 category-card">
    <img src="<%= category.image.url.replace("/upload", "/upload/q_20") %>" class="card-img-top mb-3" alt="...">
    <div class="card-body category-card-body">
      <h5 class="mb-3">&nbsp; <%= category.name %></h5>
      <div class="category-btns">
        <a href="/admin/category/edit/<%= category._id %>" class="no-style"><button class="btn btn-outline-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i> Edit</button></a> 
        &nbsp; &nbsp;
        <button value="/admin/category/destory/<%= category._id %>?_method=DELETE" class="btn delete-conform btn-outline-danger btn-sm"><i class="fa-solid fa-trash-can"></i> Delete</button>        
      </div>
    </div>
  </div> 
  <% } %>
</div>

<!-- delete conform code -->

<style>
  .delete-btn{
    padding: 1rem;
    text-align: center;
    display: inline-block;
    position: fixed;
    border-radius: .3rem;
    background-color: #cadfff;
    box-shadow: 0 0 4px #0d6efd;
    border-radius: .3rem;
  }
</style>

<form class="delete-btn top-50 start-50 translate-middle" id="hidden-delete" method="post" hidden>
  <p>Delete this Category.</p>
  <div class="category-btns"></div>
    <button type="submit" class="btn hidden-delete btn-outline-danger btn-sm"><i class="fa-solid fa-trash-can"></i> Delete</button>
    &nbsp;&nbsp;
    <button type="button" id="hide-dismiss" class="btn btn-outline-primary btn-sm">No</button>
  </div>
</form> 


<script>

  let delete_btns = document.getElementsByClassName("delete-conform");
  let hidden_delete = document.getElementById("hidden-delete");
  let hide_dissmiss = document.getElementById("hide-dismiss");

  for(delete_btn of delete_btns){
    delete_btn.addEventListener("click", () => {
      let link = delete_btn.value;
      hidden_delete.action=link;
      hidden_delete.hidden = false;
    });
  };
  hide_dissmiss.addEventListener("click", () => {
    hidden_delete.hidden = true;
  });

</script>